/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:25f97318d1918cf74fb8f14ec3edb5e8:878007c5a85382cfffe36c902c281050:ac6a55e80f2082aa426377234a4df90e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

#Alfie {
  display:inline-block; 
  overflow:hidden; 
  background-repeat: no-repeat;
  background-image:url('./assets/alfie@2x.png');
  background-size: 456px 234px;
  position: absolute;
  left: 565px;
  top: 263px;
  z-index: 1;
}

.Alfie-01 {width:74px; height:76px; background-position: -1px -1px}
.Alfie-02 {width:74px; height:76px; background-position: -1px -79px}
.Alfie-03 {width:74px; height:76px; background-position: -1px -157px}
.Alfie-04 {width:74px; height:76px; background-position: -77px -1px}
.Alfie-05 {width:74px; height:76px; background-position: -77px -79px}
.Alfie-06 {width:74px; height:76px; background-position: -77px -157px}
.Alfie-07 {width:74px; height:76px; background-position: -153px -1px}
.Alfie-08 {width:74px; height:76px; background-position: -153px -79px}
.Alfie-09 {width:74px; height:76px; background-position: -153px -157px}
.Alfie-10 {width:74px; height:76px; background-position: -229px -1px}
.Alfie-11 {width:74px; height:76px; background-position: -229px -79px}
.Alfie-12 {width:74px; height:76px; background-position: -229px -157px}
.Alfie-13 {width:74px; height:76px; background-position: -305px -1px}
.Alfie-14 {width:74px; height:76px; background-position: -381px -1px}
.Alfie-15 {width:74px; height:76px; background-position: -305px -79px}
.Alfie-16 {width:74px; height:76px; background-position: -305px -157px}
.Alfie-17 {width:74px; height:76px; background-position: -381px -79px}
