/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:61a1a0f599339ad8712f38cad1050e8b:089a6624f64fda4016a5c98ea7f3939c:fb5fd04991cc13ddb76b1ebfd0ae34c0$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

#Amani {
  display:inline-block; 
  overflow:hidden; 
  background-repeat: no-repeat;
  background-image:url('./assets/amani@2x.png');
  background-size: 645px 430px;
  position: absolute;
  z-index: 1;
  display: none;
  @include breakpoint(medium) {
    display: block;    
    right: -120px;
    bottom: -55px;
  }
  @include breakpoint(large) {
    right: -5px;
    bottom: 62px;   
  }
}

.Amani-01 {width:213px; height:213px; background-position: -1px -1px}
.Amani-02 {width:213px; height:213px; background-position: -1px -216px}
.Amani-03 {width:213px; height:213px; background-position: -216px -1px}
.Amani-04 {width:213px; height:213px; background-position: -216px -216px}
.Amani-05 {width:213px; height:213px; background-position: -431px -1px}
.Amani-06 {width:213px; height:213px; background-position: -431px -216px}
.Amani-07 {width:213px; height:213px; background-position: -1px -1px}
.Amani-08 {width:213px; height:213px; background-position: -1px -216px}
.Amani-09 {width:213px; height:213px; background-position: -216px -1px}
.Amani-10 {width:213px; height:213px; background-position: -216px -216px}
.Amani-11 {width:213px; height:213px; background-position: -431px -1px}
.Amani-12 {width:213px; height:213px; background-position: -431px -216px}
