/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:23a3daf4df120a78e78d6f9d39d76da3:44fb469d226941846ef21fdb339a8d3c:7919d8cd992af46a4f6c3296113d5b57$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

#Jessica {
  display:inline-block; 
  overflow:hidden; 
  background-repeat: no-repeat;
  background-image:url('./assets/jessica@2x.png');
  background-size: 252px 1020px;
  position: absolute;
  z-index: 1;
  display: none;
  @include breakpoint(medium) {
    display: block;    
    left: -4px;
    top: 29px;    
  }
  @include breakpoint(large) {
    left: 114px;
    top: 29px;    
  }
}


.Jessica-01 {width:82px; height:168px; background-position: -1px -1px}
.Jessica-02 {width:82px; height:168px; background-position: -85px -1px}
.Jessica-03 {width:82px; height:168px; background-position: -169px -1px}
.Jessica-04 {width:82px; height:168px; background-position: -1px -171px}
.Jessica-05 {width:82px; height:168px; background-position: -85px -171px}
.Jessica-06 {width:82px; height:168px; background-position: -169px -171px}
.Jessica-07 {width:82px; height:168px; background-position: -1px -341px}
.Jessica-08 {width:82px; height:168px; background-position: -85px -341px}
.Jessica-09 {width:82px; height:168px; background-position: -169px -341px}
.Jessica-10 {width:82px; height:168px; background-position: -1px -511px}
.Jessica-11 {width:82px; height:168px; background-position: -85px -511px}
.Jessica-12 {width:82px; height:168px; background-position: -169px -511px}
.Jessica-13 {width:82px; height:168px; background-position: -1px -681px}
.Jessica-14 {width:82px; height:168px; background-position: -1px -851px}
.Jessica-15 {width:82px; height:168px; background-position: -85px -681px}
.Jessica-16 {width:82px; height:168px; background-position: -85px -851px}
.Jessica-17 {width:82px; height:168px; background-position: -169px -681px}
.Jessica-18 {width:82px; height:168px; background-position: -169px -851px}
