/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:c275f9037c20794174ca34fb7d6eb73a:8cf4f29253d792493595d26a63e213e8:25e01a68baacfd7523de6bbc8b233106$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

#Lucy_Mitsy {
  display:inline-block; 
  overflow:hidden; 
  background-repeat: no-repeat;
  background-image:url('./latest@2x.png');
  background-size: 87px 516px;
  position: absolute;
  left: 379px;
  top: 75px;
  z-index: 1;
}

.Lucy_Mitsy-01 {width:85px; height:127px; background-position: -1px -1px}
.Lucy_Mitsy-02 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-03 {width:85px; height:127px; background-position: -1px -259px}
.Lucy_Mitsy-04 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-05 {width:85px; height:127px; background-position: -1px -1px}
.Lucy_Mitsy-06 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-07 {width:85px; height:127px; background-position: -1px -259px}
.Lucy_Mitsy-08 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-09 {width:85px; height:127px; background-position: -1px -1px}
.Lucy_Mitsy-10 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-11 {width:85px; height:127px; background-position: -1px -388px}
.Lucy_Mitsy-12 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-13 {width:85px; height:127px; background-position: -1px -1px}
.Lucy_Mitsy-14 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-15 {width:85px; height:127px; background-position: -1px -259px}
.Lucy_Mitsy-16 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-17 {width:85px; height:127px; background-position: -1px -1px}
.Lucy_Mitsy-18 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-19 {width:85px; height:127px; background-position: -1px -259px}
.Lucy_Mitsy-20 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-21 {width:85px; height:127px; background-position: -1px -1px}
.Lucy_Mitsy-22 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-23 {width:85px; height:127px; background-position: -1px -259px}
.Lucy_Mitsy-24 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-25 {width:85px; height:127px; background-position: -1px -1px}
.Lucy_Mitsy-26 {width:85px; height:127px; background-position: -1px -130px}
.Lucy_Mitsy-27 {width:85px; height:127px; background-position: -1px -259px}
.Lucy_Mitsy-28 {width:85px; height:127px; background-position: -1px -130px}
