@import 'settings';
@import '~foundation-sites/scss/foundation';
/// include all modules of foundation
@include foundation-everything(true); // true enables flexbox mode

@import url('https://fonts.googleapis.com/css?family=Khula:300,700');

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

.portfolio {
  position: relative;
  top: -85px;
}
.portfolio-item {
  background-color: #0994EF;
  color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 4rem;
  font-size: 5rem;
  text-align: center;
}
