@import url('https://fonts.googleapis.com/css?family=Khula:300,700');

body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.App {
  text-align: center;
  font-family: 'Khula', sans-serif;
}

h1.title {
  margin: 0;
  padding: 0;
  line-height: 0.9;
  &--ingrid {
    font-size: 14rem;
  }
  &--lenert {
    font-size: 14rem;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100vh;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
