@import url('https://fonts.googleapis.com/css?family=Khula:300,700');

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.App {
  text-align: center;
  font-family: 'Khula', sans-serif;
}

.header {
  color: white;
  background-color: black;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 1011px;
    height: 590px;
  }

  &__title {
    margin: 0;
    padding: 20px 0 0 0;
    line-height: 0.9;
    &--ingrid {
      font-size: 265px;
    }
    &--lenert {
      font-size: 235px; 
    }
  }
}



@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
