.Header {
  color: white;
  background-color: black;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  &__container {
    width: 1011px;
    height: 590px;
    position: relative;
  }

  &__title {
    margin: 0;
    padding: 20px 0 0 0;
    line-height: 0.9;
    &--ingrid {
      font-size: 265px;
    }
    &--lenert {
      font-size: 235px; 
    }
  }

  &__img {
    position: absolute;
    transition: 0.2s all ease-in-out;
    animation: spin infinite 14s linear;

    &--jessica {
      left: 110px;
      top: 21px;
      animation: none;
    }
    &--alfie {
      left: 587px;
      top: 270px;
      animation: none;
    }
    &--amani {
      right: 26px;
      bottom: 100px;
      animation: none;
    }
    &--shape01 {
      left: 370px;
      top: -41px;
      animation: spin infinite 30s linear;
    }
    &--shape02 {
      left: 655px;
      top: 3px;
      animation: spin infinite 7s ease-in-out;
    }
    &--shape02-bg {
      left: 645px;
      top: -1px;
      width: 55px;
      height: 46px;
      background-color: black;
      animation: none;
    }
    &--shape03 {
      right: -30px;
      top: -20px;
    }
    &--shape04 {
      left: 810px;
      top: 509px;
      animation: spin-reverse infinite 10s linear;    
    }
    &--shape05 {
      left: 260px;
      top: 470px
    }
    &--shape06 {
      left: 20px;
      top: 310px;
      animation: spin-reverse infinite 7s ease-in-out;      
    }
    &--shape07 {
      left: 0;
      top: 0;
    }
  }
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-reverse {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
